#
# KlipperScreen Macros
# (https://klipperscreen.readthedocs.io/en/latest/macros/)
#

##
## TODO: compare against orbiter LOAD_FILAMENT
##
[gcode_macro LOAD_FILAMENT]
description: "Load Filament into extruder"
  USAGE: LOAD_FILAMENT [SPEED] [LENGTH] [EXTRUDER_TEMP]
gcode:
    {% set SPEED = params.SPEED|default(300) %}
    {% set LENGTH = params.LENGTH|default(50) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}
    SAVE_GCODE_STATE NAME=load_state

    ## TODO: check extruder temp first
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(180)|float %}
    #M104 F S180 B{EXTRUDER_TEMP}  ; use autotemp?!
    M109 S{EXTRUDER_TEMP}

    #M300 # beep
    G91
    G92 E0
    G1 E{LENGTH} F{max_velocity} # fast-load
    G1 E25 F{SPEED} # purge
    #M300 # beep
    #M300 # beep
    RESTORE_GCODE_STATE NAME=load_state
    #M104 S0 ; Cooldown hotend

[gcode_macro UNLOAD_FILAMENT]
description: "Unload Filament from extruder"
  USAGE: UNLOAD_FILAMENT [SPEED] [LENGTH] [EXTRUDER_TEMP]
gcode:
    {% set SPEED = params.SPEED|default(300) %}
    {% set LENGTH = params.LENGTH|default(420) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}
    SAVE_GCODE_STATE NAME=unload_state

    ## TODO: check extruder temp first
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(210)|float %}
    #M104 F S180 B{EXTRUDER_TEMP}  ; use autotemp?!
    M109 S{EXTRUDER_TEMP}

    G91
    #M300 # beep
    G92 E0
    G1 E25 F{SPEED} # purge
    G1 E-{LENGTH} F{max_velocity} # fast-unload
    #M300 # beep
    #M300 # beep
    RESTORE_GCODE_STATE NAME=unload_state
    #M104 S0 ; Cooldown hotend

[gcode_macro FILAMENT_UNLOAD]
description: "Unload Filament from extruder"
  USAGE: FILAMENT_UNLOAD [SPEED] [LENGTH] [EXTRUDER_TEMP] [PURGE_LENGTH] [HOT]
variable_unload_temp: 210
variable_purge_length: 25
variable_unload_length: 200
variable_unload_speed: 300
variable_is_hot: True
gcode:
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(unload_temp)|float %}
    {% set LENGTH = params.LENGTH|default(unload_length) %}
    {% set SPEED = params.SPEED|default(unload_speed) %}
    {% set purge_length = params.PURGE_LENGTH|default(purge_length) %}
    SAVE_GCODE_STATE NAME=unload_state

    {% set is_hot = params.HOT|default(is_hot)|string %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}

    ## TODO: check extruder temp first
    #M104 F S180 B{EXTRUDER_TEMP}  ; use autotemp?!
    M109 S{EXTRUDER_TEMP}
    G91
    BEEP
    M118 Filament Ready to UNLOAD
    G92 E0

    {% if purge_length > 0 %}
    M118 Purging {purge_length} mm
    G1 E{purge_length} F{SPEED} # purge
    BEEP
    {% endif %}

    {% if LENGTH > 0 %}
    M118 Unloading Filament {LENGTH} F{max_velocity}
    G1 E-{LENGTH} F{max_velocity} # fast-unload
    BEEP
    {% endif %}
    M118 Finished Filament UNLOAD
    BEEP
    RESTORE_GCODE_STATE NAME=unload_state

    {% if not is_hot %}
    M104 S0 ; Cooldown hotend
    {% endif %}

