#
# Hermit Crab :: Orbiter 2.0 + Revo Micro
#
## Orbiter 2.0 - LDO 1.8 motor
# Motor: LDO-36STH20-1004AHG
# Drive gears: 11mm
# Weight: 135g
# Backlash: ~0.06mm
# Steps: 690 steps/mm @ 16
# Max jerk: 600mm/min(RRF), 10mm/s(Marlin)
# Pressure Advance: 0.02~0.03s
# Retraction: 1~1.5mm
# Retraction speed: 120mm/s (30mm/s for TPU)
# Motor Current: 1.2A Peak (0.85A RMS)
# Max acceleration: 8000 mm/s2  (normal: 3000 mm/s2)
# Nominal temp: 65-75C
# stealth chop should be disabled!

#**********************************************************

#
# To fix extrusion multiplier, you will want to [clibrate rotation_distance](https://www.klipper3d.org/Rotation_Distance.html?h=rotation_#calibrating-rotation_distance-on-extruders)
# using the formula:
# `rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / <requested_extrude_distance>`
# So, if you need less material extruded you need a larger rotation_distance.
# if 55mm were actually extruded from a requested 50mm, that fraction represented in decimal is the extrusion multiplier.
# the product of this multiplier * your existing rotation_distance is your new rotation_distance value.
#
[extruder]
step_pin: HermitCrab: PA6
dir_pin: !HermitCrab: PA7
enable_pin: !HermitCrab: PA5
microsteps: 16
full_steps_per_rotation: 200
#rotation_distance: 4.897  -- less extrusion (semi-okay 20231004 with "max volumetric speed: 15mm^3/s")
rotation_distance: 4.637
## chosen Revo nozzle diameter is 0.4mm
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
max_extrude_only_accel:  800
max_extrude_cross_section: 8.0
pressure_advance: 0.0898
pressure_advance_smooth_time: 0.01
heater_pin: HermitCrab: PA2
min_temp: 0
## allow for cold extrusion (eg. during extruder calibration)
#min_extrude_temp: 20
max_temp: 300
## Revo temp sensor is "ATC Semitec 104NT-4-R025H42G"
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: HermitCrab: PA1
# calibrate command: PID_CALIBRATE HEATER=extruder TARGET=170
# generated 20230821
control = pid
pid_kp = 32.287
pid_ki = 3.213
pid_kd = 81.124

[tmc2209 extruder]
uart_pin: HermitCrab: PB0
## LDO 1.8 motor current is 0.85A
run_current: 0.65
#run_current: 0.85
hold_current: 0.1
sense_resistor: 0.11
stealthchop_threshold: 0
driver_TBL: 0
driver_HEND: 6
driver_HSTRT: 7
driver_TOFF: 4



#**********************************************************
#*
#* Orbiter Filament Runout Sensor
#*
#**********************************************************

# [gcode_macro FILAMENT_RUNOUT]
# gcode:
#     M300 S1 P10
#     M600
#     M300 S1 P10

# [gcode_macro M300]
# gcode:
#     {% set S = params.S|default(1000)|int %}
#     {% set P = params.P|default(100)|int %}
#         SET_PIN PIN=BEEPER VALUE=0.5 CYCLE_TIME={ 1.0/S if S > 0 else 1 }
#     G4 P{P}
#         SET_PIN PIN=BEEPER VALUE=0

# [gcode_macro M600]
# gcode:
#     {% set X = params.X|default(25)|float %}
#     {% set Y = params.Y|default(25)|float %}
#     {% set Z = params.Z|default(10)|float %}
#         SAVE_GCODE_STATE NAME=M600_state
#         PAUSE
#     G91
#     G1 E-.8 F2700
#     G1 Z{Z}
#     G90
#     G1 X{X} Y{Y} F3000
#     G91
#     G1 E-15 F1000
#         RESTORE_GCODE_STATE NAME=M600_state

