# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.


## BOARD PINS
[board_pins EBB36_G0B1_v1.2] 
mcu: EBB36
aliases:
aliases_step:
    EXT_EN=PD2,EXT_STEP=PD0,EXT_DIR=PD1,EXT_UART=PA15
aliases_limitsw: # these are preferred for endstops (including klicky)
    LIMIT_1=PB7,LIMIT_2=PB5,LIMIT_3=PB6
aliases_bltouch: # these are the dupont connectors for bltouch
    PROBE_1=PB9,PROBE_2=PB8
aliases_fans:
    FAN0=PA1,FAN1=PA0
aliases_thermistors:
    TH0=PA3,PT100_CS=PA4,PT100_SCLK=PA5,PT100_MISO=PA6,PT100_MOSI=PA7
aliases_heaters:
    HE0=PB13
aliases_rgb:
    RGBLED=PD3
aliases_adxl:
    ADXL_CS=PB12,ADXL_SCLK=PB10,ADXL_MISO=PB2,ADXL_MOSI=PB11
aliases_i2c:
    AUX0=PB3,AUX1=PB4

[mcu EBB36]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_uuid: 6c2675e22f42

[temperature_sensor EBB36]
sensor_type: temperature_mcu
sensor_mcu: EBB36

[adxl345]
cs_pin: EBB36: PB12
spi_software_sclk_pin: EBB36: PB10
spi_software_mosi_pin: EBB36: PB11
spi_software_miso_pin: EBB36: PB2
axes_map: x,y,z

[heater_fan hotend_fan]
##  Hotend Fan - FAN1
pin: EBB36: FAN1
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0


## PART COOLING
#[fan]
[fan_generic partfantest]
pin: EBB36:FAN0
kick_start_time: 0.25
cycle_time: 0.15
off_below: 0.10

# Orbiter 2.0 - LDO 1.8 motor
# ---------------------------
# Motor: LDO-36STH20-1004AHG
# Drive gears: 11mm
# Weight: 135g
# Backlash: ~0.06mm
# Steps: 690 steps/mm @ 16
# Max jerk: 600mm/min(RRF), 10mm/s(Marlin)
# Pressure Advance: 0.02~0.03s
# Retraction: 1~1.5mm
# Retraction speed: 120mm/s (30mm/s for TPU)
# Motor Current: 1.2A Peak (0.85A RMS)
# Max acceleration: 8000 mm/s2  (normal: 3000 mm/s2)
# Nominal temp: 65-75C
# stealth chop should be disabled!
#**********************************************************
# To fix extrusion multiplier, you will want to [clibrate rotation_distance](https://www.klipper3d.org/Rotation_Distance.html?h=rotation_#calibrating-rotation_distance-on-extruders)
# using the formula:
# `rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / <requested_extrude_distance>`
# So, if you need less material extruded you need a larger rotation_distance.
# if 55mm were actually extruded from a requested 50mm, that fraction represented in decimal is the extrusion multiplier.
# the product of this multiplier * your existing rotation_distance is your new rotation_distance value.
[extruder]
step_pin: EBB36:EXT_STEP
dir_pin: !EBB36:EXT_DIR
enable_pin: !EBB36:EXT_EN
microsteps: 16
full_steps_per_rotation: 200
#rotation_distance: 4.897  -- less extrusion (semi-okay 20231004 with "max volumetric speed: 15mm^3/s")
rotation_distance: 4.637
## chosen Revo nozzle diameter is 0.4mm
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
max_extrude_only_accel:  800
max_extrude_cross_section: 8.0
pressure_advance: 0.0898
pressure_advance_smooth_time: 0.02
heater_pin: EBB36:HE0
min_temp: 0
## allow for cold extrusion (eg. during extruder calibration)
#min_extrude_temp: 20
max_temp: 300
## Revo temp sensor is "ATC Semitec 104NT-4-R025H42G"
sensor_pin: EBB36:TH0
sensor_type: ATC Semitec 104GT-2  # this is the default for the Revo heater
#pullup_resistor: 2200            # 4700 is default and does not need defining, 2200 is used for the PT1000             
# #
# ## EXAMPLE: Hotend Thermistor with PT100/PT1000
# sensor_type:MAX31865
# spi_bus: spi1a
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2


## EXTRUDER MOTOR
[tmc2209 extruder]
uart_pin: EBB36:EXT_UART
## LDO 1.8 motor current is 0.85A
run_current: 0.30
#run_current: 0.65
#run_current: 0.85
hold_current: 0.1
sense_resistor: 0.11
stealthchop_threshold: 0
driver_TBL: 0
driver_HEND: 6
driver_HSTRT: 7
driver_TOFF: 4


## ADXL345
[adxl345]
cs_pin: EBB36:ADXL_CS
spi_software_sclk_pin: EBB36:ADXL_SCLK
spi_software_mosi_pin: EBB36:ADXL_MOSI
spi_software_miso_pin: EBB36:ADXL_MISO
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:
    90,90,20  # an example for a 350mm printer

## RGB
#[neopixel hotend_rgb]
#pin: EBB36:RGBLED
#chain_count: 12
#color_order: GRB
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 0.0

## PT100
# [temperature_sensor PT100]
# sensor_type: MAX31865
# sensor_pin: EBB36:PT100_CS
# spi_bus: spi1
# min_temp: -50
# max_temp: 350
# rtd_reference_r: 430


#[bltouch]
#sensor_pin: ^EBB36:PB8
#control_pin: EBB36:PB9

#[filament_switch_sensor switch_sensor]
#switch_pin: EBB36:PB4

#[filament_motion_sensor motion_sensor]
#switch_pin: ^EBB36:PB3
