# Macros for setting the status leds on the Voron StealthBurner toolhead (or for any neopixel-type leds).
#
# Use this file for the standard setup with one logo LED and two nozzle LEDs.
# Thank you to Urufu_Shinjiro and ChristianN for providing this file.
#
# You will need to configure a neopixel (or other addressable led, such as dotstar). See
# https://www.klipper3d.org/Config_Reference.html#neopixel for configuration details.


#####################################
#           INSTRUCTIONS            #
#####################################
# How to use all this stuff:
#
#     1.  Copy this .cfg file into your Klipper config directory and then add [include stealthburner_leds.cfg]
#         to the top of your printer.cfg in order for register the LEDs and macros with Klipper.
#     2.  Define your LEDs by editing [neopixel sb_leds] below and entering the data pin from your control board
#         as well as the color order.
#
#           Note: RGB and RGBW are different and must be defined explicitly in the color order. 
#
#                 RGBW LEDs will have a visible yellow-ish phosphor section to the chip.  If your LEDs do not have
#                 this yellow portion, you have RGB LEDs.
#
#     3.  Save your config and restart Klipper.
#
#           Note: We set RED and BLUE to 1.0 to make it easier for users and supporters to detect 
#                 misconfigurations or miswiring. The default color format is for Neopixels with a dedicated 
#                 white LED. On startup, all three SB LEDs should light up.
#
#                 If you get random colors across your LEDs, change the color_order to GRB and restart. Then
#                 omit the W for each suggested color_order in the next paragraph.
#
#                 If you get MAGENTA, your  color order is correct. If you get CYAN, you need to use RGBW. If
#                 you get YELLOW, you need to use BRGW (note that BRG is only supported in the latest Klipper
#                 version).
#
#     4.  Once you have confirmed that the LEDs are set up correctly, you must now decide where you want 
#         these macros called up...which means adding them to your existing gcode macros.  NOTHING will happen
#         unless you add the STATUS_????? macros to your existing gcode macros.  
#
#           Example: add STATUS_LEVELING to the beginning of your QGL gcode macro, and then add STATUS_READY 
#                    to the end of it to set the logo LED and nozzle LEDs back to the `ready` state.
#
#           Example: add STATUS_CLEANING to the beginning of your nozzle-cleaning macro, and then STATUS_READY
#                    to the end of it to return the LEDs back to `ready` state.
#
#     5.  Feel free to change colors of each macro, create new ones if you have a need to.  The macros provided below
#         are just an example of what is possible.  If you want to try some more complex animations, you will most
#         likely have to use WLED with Moonraker and a small micro-controller (please see the LED thread for help inside
#         of the stealthburner_beta channel on Discord).
#
#####################################
#       END INSTRUCTRUCTIONS        #
#####################################



#######################
# LED Effects Statics #
#######################

[led_effect set_nozzle_leds]
leds:
    neopixel:hotend_rgb (1,2)
   #neopixel:caselight
autostart:                          false
frame_rate:                         24
layers:
    static         0  0     top        (0.3, 0.3, 0.3)

[led_effect set_logo_leds]
leds:
    neopixel:hotend_rgb (3)
autostart:                          false
frame_rate:                         24
layers:
    static         0  0     top        (1, 1, 1)

[led_effect set_panel_leds]
leds:
    neopixel:panel_leds
layers:
    static         0  0     top        (1, 1, 1)
autostart:                             false
frame_rate:                            24
run_on_error:                          true


[led_effect set_matchstick_leds]
leds:
    neopixel:matchstick_leds
layers:
    static         0  0     top        ({params.BRIGHTNESS|default(0.05)|float}, {params.BRIGHTNESS|default(0.05)|float}, {params.BRIGHTNESS|default(0.05)|float})
autostart:                             true
frame_rate:                            24
run_on_error:                          true
recalculate:                           true


##########################
# LED Effects Animations #
##########################


#####################
## groups control  ##
#####################

[gcode_macro set_panel_leds_on]
gcode:
    SET_LED_EFFECT EFFECT=set_panel_leds FADETIME=1.0

[gcode_macro set_panel_leds_off]
gcode:
    SET_LED_EFFECT EFFECT=set_panel_leds
    SET_LED_EFFECT EFFECT=set_panel_leds FADETIME=1.0 STOP=1

[gcode_macro set_matchstick_leds_off]
gcode:
    SET_LED_EFFECT EFFECT=set_matchstick_leds
    SET_LED_EFFECT EFFECT=set_matchstick_leds FADETIME=5.0 STOP=1

[gcode_macro set_matchstick_leds_on]
gcode:
    SET_LED_EFFECT EFFECT=set_matchstick_leds BRIGHTNESS=0.1 FADETIME=3.0

[gcode_macro set_matchstick_leds_bright]
gcode:
    SET_LED_EFFECT EFFECT=set_matchstick_leds BRIGHTNESS=0.5 FADETIME=3.0

[gcode_macro set_matchstick_leds_dimmer]
variable_parameter_BRIGHTNESS: 0.5
gcode:
    SET_LED_EFFECT EFFECT=set_matchstick_leds FADETIME=1.0 BRIGHTNESS={params.BRIGHTNESS|float}

[gcode_macro set_logo_leds_on]
gcode:
    SET_LED_EFFECT EFFECT=set_logo_leds FADETIME=1.0
[gcode_macro logo_leds_on]
gcode:
    SET_LOGO_LEDS_ON

[gcode_macro set_logo_leds_off]
gcode:
    SET_LED_EFFECT EFFECT=set_logo_leds
    SET_LED_EFFECT EFFECT=set_logo_leds STOP=1 FADETIME=1.0
[gcode_macro logo_leds_off]
gcode:
    SET_LOGO_LEDS_OFF

[gcode_macro set_nozzle_leds_on]
gcode:
    SET_LED_EFFECT EFFECT=set_nozzle_leds FADETIME=1.0
[gcode_macro NOZZLE_LEDS_ON]
gcode:
    SET_NOZZLE_LEDS_ON

[gcode_macro set_nozzle_leds_off]
gcode:
    SET_LED_EFFECT EFFECT=set_nozzle_leds
    SET_LED_EFFECT EFFECT=set_nozzle_leds FADETIME=1.0 STOP=1
[gcode_macro NOZZLE_LEDS_OFF]
gcode:
    SET_NOZZLE_LEDS_OFF

#####################
## all led effects ##
#####################

[led_effect critical_error]
leds:
    neopixel:panel_leds
    neopixel:matchstick_leds
autostart:              false
frame_rate:             24
run_on_error:           true
layers:
    strobe         1  1.5   add        (1,  1, 1)
    breathing      2  0     difference (0.95, 0, 0)
    static         1  0     top        (1,  0, 0)

[led_effect rainbow]
leds:
    neopixel:panel_leds
autostart:              true
frame_rate:             24
layers:
    gradient  0.3  1 add (0.3, 0, 0),(0, 0.3, 0),(0, 0, 0.3)

[led_effect progress_bar]
leds:
    neopixel:panel_leds
autostart:              false
frame_rate:             24
layers:
    progress  -1  0 add         ( 0, 1,   0),( 0, 0.1, 0.6)
    static     0  0 top         ( 0, 0, 0.1)

########################
## matchstick effects ##
########################

[led_effect matchstick_idle]
leds:
    neopixel:matchstick_leds
autostart:              true
frame_rate:             24
layers:
    breathing  10 1 top (0.1,0.1,0.1)

[led_effect matchstick_cancelled]
leds:
    neopixel:matchstick_leds
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0.5, 0, 0)


#[led_effect matchstick_orbiter_button]
#leds:
#    neopixel:matchstick_leds
#button_pin:             EBB36:FILAMENT_SENSOR                  ; why is 'button_pin' not valid?
#autostart:              false
#frame_rate:             24
#layers:
#    flashbutton 0 0 top (0,0.5,0.5)

[led_effect matchstick_alert]
leds:
    neopixel:matchstick_leds
autostart:              false
frame_rate:             24
layers:
    chase 1 1 top (0.5, 0, 0), (0, 0, 0.5)

[led_effect matchstick_info]
leds:
    neopixel:matchstick_leds
autostart:              false
frame_rate:             24
layers:
    chase 0.6  1 add (0.8, 1.0, 1.0),(0.0, 0.8, 1.0),(0.0, 0.0, 1.0)

[led_effect matchstick_warn]
leds:
    neopixel:matchstick_leds
autostart:              false
frame_rate:             24
layers:
    linearfade 3 0.5 screen (0.8, 0, 0),(1, 0.4, 0),(0.5, 0.8, 0),(0.1, 0.8, 0.1),(0, 0.5, 0.6)
    #fire       45 40 add  (0.8, 0, 0),(1, 0.4, 0),(0.5, 0.8, 0),(0.1, 0.8, 0.1),(0, 0.5, 0.6)

[led_effect matchstick_error]
leds:
    neopixel:matchstick_leds
autostart:              false
frame_rate:             24
layers:
    gradient  0.3  1 add (0.3, 0, 0),(0, 0.3, 0),(0, 0, 0.3)

[led_effect matchstick_critical]
leds:
    neopixel:matchstick_leds
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0.5, 0, 0)

###################
## panel effects ##
###################

[led_effect panel_idle]
leds:
    neopixel:panel_leds
autostart:              false
frame_rate:             24
layers:
    breathing  10 1 top (.5,.5,1)

[led_effect bed_heating]
leds:
    neopixel:panel_leds
autostart:              false
frame_rate:             24
heater:                 heater_bed
layers:
    heater  50 0 add    (1.0,0.9,0.0,0.0),(1.0,0.8,0.0,0.0),(1.0,0.7,0.0,0.0),(1.0,0.6,0.0,0.0),(1.0,0.5,0.0,0.0),(1.0,0.4,0.0,0.0),(1.0,0.3,0.0,0.0),(1.0,0.2,0.0,0.0),(1.0,0.1,0.0,0.0),(1.0,0.0,0.0,0.0)
    static  0  0 top    (1,0,0)


##################
## logo effects ##
##################

[led_effect logo_busy]
leds:
    neopixel:hotend_rgb (3)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (1,0,0)

[led_effect logo_cleaning]
leds:
    neopixel:hotend_rgb (3)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0, 0.02, 0.5)

[led_effect logo_cancelled]
leds:
    neopixel:hotend_rgb (3)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0.5, 0, 0)

[led_effect logo_calibrating_z]
leds:
    neopixel:hotend_rgb (3)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0, 0, 0.35)

[led_effect logo_heating]
leds:
    neopixel:hotend_rgb (3)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (1, 0.18, 0)

[led_effect logo_cooling]
leds:
    neopixel:hotend_rgb (3)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0, 0, 1)

[led_effect logo_homing]
leds:
    neopixel:hotend_rgb (3)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0, 0.6, 0.2)

[led_effect logo_leveling]
leds:
    neopixel:hotend_rgb (3)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0.5, 0.1, 0.4)

[led_effect logo_meshing]
leds:
    neopixel:hotend_rgb (3)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0.2, 1, 0)

[led_effect logo_printing]
leds:
    neopixel:hotend_rgb (3)
autostart:              false
frame_rate:             24
layers:
    gradient  0.3  1 add (0.3, 0, 0),(0.3, 0.3, 0),(0.3, 0.1, 0)

[led_effect logo_standby]
leds:
    neopixel:hotend_rgb (3)
autostart:              true
frame_rate:             24
layers:
    static     9 1 top (0, 0.1, 0.1)

[led_effect logo_part_ready]
leds:
    neopixel:hotend_rgb (3)
autostart:              false
frame_rate:             24
layers:
    breathing  2 1 top (0, 1, 0)


####################
## nozzle effects ##
####################

[led_effect nozzle_heating]
leds:
    neopixel:hotend_rgb (1,2)
autostart:              false
frame_rate:             24
heater:                 extruder
layers:
    heater      50 0    add    (1,1,0),(1,0,0)
    #heater      50 0    add    (1.0,0.9,0.0),(1.0,0.8,0.0),(1.0,0.7,0.0),(1.0,0.6,0.0),(1.0,0.5,0.0),(1.0,0.4,0.0),(1.0,0.3,0.0),(1.0,0.2,0.0),(1.0,0.1,0.0),(1.0,0.0,0.0)
    static      0  0    top    (1,0,0)
    #heater      50 0    add    (0.1, 0.1, 1),(1, 0, 0)

[led_effect nozzle_temp]
leds:
    neopixel:hotend_rgb (1,2)
autostart:              true
frame_rate:             24
heater:                 extruder
layers:
    temperature  30 150  add    (1,1,0),(1,0,0)


[led_effect nozzle_cooling]
leds:
    neopixel:hotend_rgb
autostart:              false
frame_rate:             24
heater:                 extruder
layers:
    heater      50 0    add    (1,0,0),(1,1,0)
    static      0  0    top    (1,1,0)

[led_effect nozzle_homing]
leds:
    neopixel:hotend_rgb (1,2)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (1, 0.18, 0, 0)

[led_effect nozzle_standby]
leds:
    neopixel:hotend_rgb (1,2)
autostart:              false
frame_rate:             24
layers:
    static     3 1 top (0.1, 0.1, 0.1, 0.1)

[led_effect nozzle_part_ready]
leds:
    neopixel:hotend_rgb (1,2)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0, 0.6, 0, 0.1)


##############
# The Macros #
##############

[gcode_macro RESET_PANEL_LEDS]
gcode:
    STOP_LED_EFFECTS LEDS="neopixel:panel_leds"

[gcode_macro RESET_LOGO_LEDS]
gcode:
    STOP_LED_EFFECTS LEDS="neopixel:hotend_rgb 3"

[gcode_macro RESET_NOZZLE_LEDS]
gcode:
    STOP_LED_EFFECTS LEDS="neopixel:hotend_rgb 1"

[gcode_macro RESET_MATCHSTICK_LEDS]
gcode:
    STOP_LED_EFFECTS LEDS="neopixel:matchstick_leds"

[gcode_macro RESET_LEDS]
gcode:
    RESET_PANEL_LEDS
    RESET_LOGO_LEDS
    RESET_NOZZLE_LEDS

[gcode_macro RESET_ALL_LEDS]
gcode:
    STOP_LED_EFFECTS
    set_matchstick_leds_on

[gcode_macro status_off]
gcode:
    STOP_LED_EFFECTS

[gcode_macro status_standby]
gcode:
    STOP_LED_EFFECTS
    SET_MATCHSTICK_LEDS_DIMMER BRIGHTNESS=0.1

[gcode_macro status_ready]
gcode:
    RESET_LEDS
    SET_LED_EFFECT EFFECT=rainbow
    
[gcode_macro status_part_ready]
gcode:
    SET_LED_EFFECT EFFECT=nozzle_part_ready
    SET_LED_EFFECT EFFECT=logo_part_ready

[gcode_macro status_busy]
gcode:
    RESET_LEDS
    SET_LED_EFFECT EFFECT=logo_busy
    set_matchstick_leds_on
    set_nozzle_leds_on


[gcode_macro status_alert]
description: Alert style lighting for notification of alert levels
  Usage:  STATUS_ALERT [LEVEL=INFO|WARN|ERROR|CRITICAL] [DURATION=3]
variable_parameters_LEVEL: "INFO"
variable_parameters_DURATION: 5
gcode:
    {% set duration = params.DURATION|default(5)|int %}
    RESET_MATCHSTICK_LEDS
    {% if duration > 0 %}
        UPDATE_DELAYED_GCODE ID=clear_matchstick_alert DURATION={duration|int}
    {% endif %}
    {% if   (params.LEVEL|lower) == "info" %}
        SET_LED_EFFECT EFFECT=matchstick_info
    {% elif (params.LEVEL|lower) == "warn" %}
        SET_LED_EFFECT EFFECT=matchstick_warn
    {% elif (params.LEVEL|lower) == "error" %}
        SET_LED_EFFECT EFFECT=matchstick_error
    {% elif (params.LEVEL|lower) == "critical" %}
        SET_LED_EFFECT EFFECT=matchstick_critical
    {% else %}
        SET_LED_EFFECT EFFECT=matchstick_alert
    {% endif %}

[gcode_macro status_alert_clear]
gcode:
    RESET_MATCHSTICK_LEDS
    set_matchstick_leds_on

[delayed_gcode clear_matchstick_alert]
gcode:
    STATUS_ALERT_CLEAR 

[gcode_macro status_heating]
gcode:
    RESET_LEDS
    SET_LED_EFFECT EFFECT=nozzle_heating
    SET_LED_EFFECT EFFECT=bed_heating
    SET_LED_EFFECT EFFECT=logo_heating

[gcode_macro status_warmup]
gcode:
    RESET_LEDS
    SET_LED_EFFECT EFFECT=logo_heating

[gcode_macro status_nozzle_temp]
gcode:
    SET_LED_EFFECT EFFECT=nozzle_temp

[gcode_macro status_nozzle_heating]
gcode:
    SET_LED_EFFECT EFFECT=nozzle_heating

[gcode_macro status_cooling]
gcode:
    RESET_LEDS
    SET_LED_EFFECT EFFECT=logo_cooling
    SET_LED_EFFECT EFFECT=nozzle_cooling

[gcode_macro status_leveling]
gcode:
    RESET_LEDS
    SET_LED_EFFECT EFFECT=logo_leveling
    set_nozzle_leds_on

[gcode_macro status_homing]
gcode:
    RESET_LEDS
    SET_LED_EFFECT EFFECT=logo_homing
    set_nozzle_leds_on

[gcode_macro status_cleaning]
gcode:
    RESET_LEDS
    SET_LED_EFFECT EFFECT=logo_cleaning
    SET_LED_EFFECT EFFECT=panel_idle
    set_nozzle_leds_on

[gcode_macro status_cancelled]
gcode:
    RESET_LEDS
    SET_LED_EFFECT EFFECT=logo_cancelled
    SET_LED_EFFECT EFFECT=matchstick_cancelled
    set_nozzle_leds_on

[gcode_macro status_meshing]
gcode:
    RESET_LEDS
    SET_LED_EFFECT EFFECT=logo_meshing
    set_nozzle_leds_on

[gcode_macro status_calibrating_z]
gcode:
    RESET_LEDS
    SET_LED_EFFECT EFFECT=logo_calibrating_z
    set_nozzle_leds_on

[gcode_macro status_printing]
gcode:
    RESET_LEDS
    SET_LED_EFFECT EFFECT=logo_printing
    SET_LED_EFFECT EFFECT=progress_bar
    set_matchstick_leds_bright
    set_nozzle_leds_on

