# This file contains pin mappings for the LDO Nitehawk-36 Toolboard
# To use this config, the firmware should be compiled for the Raspberry Pi RP2040
# Make sure to include this config *at the end* of printer.cfg to overwrite the relevent sections

# See https://docs.ldomotors.com/en/voron/nitehawk-sb#firmware-setup-and-update
# For instructions on uploading/updating klipper firmware to the PCB

## LDO Nitehawk-SB Toolboard Partial Config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths                            [mcu] section
## Thermistor types                     [extruder] sections

## *MAKE SURE* to include this partial config file *AFTER* the main controller config. 
## This will ensure the relavent sections are overwritten by the pin mappings specified here.

[mcu NHK]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_rp2040_30333938340AA3E0-if00
restart_method: command
##--------------------------------------------------------------------

[temperature_sensor Nitehawk36]
sensor_type: temperature_mcu
sensor_mcu: NHK


#####################################################################
#   Endstops
#####################################################################
## XES - Toolhead PCB
[stepper_x]
endstop_pin: NHK:gpio13


#####################################################################
# 	Extruder
#####################################################################
[extruder]
step_pin: NHK:gpio23
dir_pin: NHK:gpio24
enable_pin: !NHK:gpio25
heater_pin: NHK:gpio9
sensor_pin: NHK:gpio29
pullup_resistor: 2200

[tmc2209 extruder]
sense_resistor: 0.100
uart_pin: NHK:gpio0
tx_pin: NHK:gpio1
interpolate: false

#####################################################################
#   Fans
#####################################################################
## PCF
[fan]
pin: NHK:gpio6


## HEF
[heater_fan hotend_fan]
pin: NHK:gpio5
# tachometer_pin: NHK:gpio16
# tachometer_ppr: 2

# #####################################################################
# # 	Probe
# #####################################################################
# ## Probe Port
# [probe]
# pin: NHK:gpio10

#####################################################################
#   Lights
#####################################################################
## Stealthburner Headlights
[neopixel hotend_rgb]
pin: NHK:gpio7
chain_count: 3
color_order: GRB
initial_RED: 0.2
initial_GREEN: 0.0
initial_BLUE: 0.0


## PCB Activity Light
[output_pin act_led]
pin: !NHK:gpio8

#####################################################################
#   Accelerometer
#####################################################################
[adxl345]
cs_pin: NHK:gpio27
spi_software_sclk_pin: NHK:gpio18
spi_software_mosi_pin: NHK:gpio20
spi_software_miso_pin: NHK:gpio19

[resonance_tester]
accel_chip: adxl345


#####################################################################
#   Filament sensor
#####################################################################

#[filament_switch_sensor switch_sensor]
#switch_pin: ^gpio3
#pause_on_runout: True


##--------------------------------------------------------------------
## Uncomment below for 250mm build
#probe_points:
#    125, 125, 20

## Uncomment below for 300mm build
#probe_points:
#    155, 155, 20

## Uncomment below for 350mm build
#probe_points:
#    175, 175, 20

